/***************************************** Main elements *****************************************/

body, html
{
    height: 100%;
}

h1
{
    font-family: Georgia, Times, serif;
    color: #4aaaa5;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid #dddddd;
}

p
{
    line-height: 1.5;
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin-bottom: 30px;
}

/************************************** Common Page Content **************************************/

#page-content
{
    background-image: url("../images/mosaic.png");
    flex: 1 0 auto;
}

#sticky-footer
{
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}

.border-2
{
    border-top: 2px solid #cccccc;
}

.navbar-brand
{
    font-family: Georgia, Times, serif;
    color: #ffffff !important;
    background-color: #4aaaa5;
    font-weight: bold;
}

/******************************************* Portfolio *******************************************/

.portfolio-caption
{
    position: absolute;
    bottom: 15px;
    font-family: Georgia, Times, serif;
    background-color: #4aaaa5;
    font-size: 22px;
    color: #ffffff;
    width: 100%;
    text-align: center;
}

.portfolio-img
{
    max-height: 250px;
    width: 100%;
    position: relative;
    text-align: center;
}

.portfolio-img:hover
{
    box-shadow: 0 0 0 .2rem #aef0ec;
}

.card
{
    border: 0px;
}

/******************************************** Contact ********************************************/

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus 
{
    background-color: #4aaaa5;
    border-color: #4aaaa5;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle
{
    color: #212529;
    background-color: #aef0ec;
    border-color: #4aaaa5;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 .2rem #aef0ec;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem #aef0ec;
}

.form-control:focus,
.form-control.focus
{
    box-shadow: 0 0 0 .2rem #aef0ec;
}

.form-control:not(:disabled):not(.disabled):active:focus,
.form-control:not(:disabled):not(.disabled).active:focus,
.show>.form-control.dropdown-toggle:focus
{
    box-shadow: 0 0 0 .2rem #aef0ec;
}

.input-group-text
{
    background-color: #4aaaa5;
    color: #ffffff;
}
